.controls {
    position: absolute;
    inset: 0;
    display: none;
    padding: 16px;
    user-select: none;

    &.is-visible {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__move {

        > button {
            display: block;
            margin: 0 auto;
        }
        
        > div {
            display: flex;
            justify-content: center;
        }
    }

    &__attack {

    }

    button {
        width: 44px;
        height: 44px;
        padding: 0;
        background-color: transparent;

        &:has(>img) {
            padding: 0;
        }

        > img {
            width: 100%;
            aspect-ratio: 1;
        }
    }
}