.game {
    min-height: 100svh;
    display: grid;
    place-items: center;
    padding: var(--pad);

    &__stage {
        display: none;
        position: relative;
        width: calc(100vw - (var(--pad) * 2));
        max-width: 720px;
        border-radius: var(--radius-lg);
        aspect-ratio: var(--stage-w) / var(--stage-h);
        overflow: hidden;
    }

    &__canvas {
        display: block;
        width: 100%;
        height: 100%;
    }

    @media (max-width: 1279px) and (orientation: landscape) {
        &__stage {
            display: block;
            width: calc((100svh - (var(--pad) * 2)) * var(--stage-ratio));
            max-width: calc(100vw - (var(--pad) * 2));
            height: calc(100svh - (var(--pad) * 2));
        }
    }

    @media (min-width: 1280px) {
        padding: 24px;

        &__stage {
            display: block;
            width: 720px;
            max-width: none;
            height: auto;
        }
    }
}
