@use './game';
@use './menu';
@use './rotate-hint';
@use './mobile-controls';

:root {
    --font: 'Luckiest Guy';

    --color-white: #ffffff;
    --color-bg: #0b0f2a;

    --color-purple-1: #6b2aa6;
    --color-purple-2: #3b1467;
    --color-pink-1: #c40888;

    --color-panel: rgba(0, 0, 0, 0.18);
    --color-panel-strong: rgba(0, 0, 0, 0.25);

    --color-border: rgba(255, 255, 255, 0.35);
    --color-border-strong: rgba(255, 255, 255, 0.7);

    --color-text: rgba(255, 255, 255, 0.92);

    --radius-lg: 16px;
    --radius-md: 12px;
    --radius-sm: 10px;

    --pad: 16px;

    --stage-w: 720;
    --stage-h: 480;
    --stage-ratio: 1.5;
}

* {
    box-sizing: border-box;

    &::before,
    &::after {
        box-sizing: inherit;
    }
}

html {
    font-size: 16px;
}

html, body {
    height: 100%;
    font-family: var(--font);
}

body {
    margin: 0;
    background: var(--color-bg);
    overflow: hidden;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    
    li {
        margin: 0;
        padding: 0;
    }
}

h1, h2, h3 {
    margin-top: 0;
}


.button {
    padding: 12px 16px;
    background: var(--color-panel-strong);
    border: 3px solid var(--color-border-strong);
    border-radius: var(--radius-lg);
    color: var(--color-white);
    font-family: var(--font);
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 2px;
    box-shadow: 0 10px 0 rgba(0, 0, 0, 0.25);
    transition: transform 120ms ease, box-shadow 120ms ease, background 120ms ease, border-color 120ms ease, filter 120ms ease;
    cursor: pointer;

    
    @media (hover: hover) and (pointer: fine) {
        &:hover {
            background: rgba(0, 0, 0, 0.32);
            border-color: rgba(255, 255, 255, 0.85);
            transform: translateY(-1px);
            box-shadow: 0 11px 0 rgba(0, 0, 0, 0.25);
        }

        &--primary{
            &:hover {
                filter: brightness(1.05);
            }
        }
    }

    @media (max-width: 1279px) and (orientation: landscape) {
        border-width: 2px;
        border-radius: var(--radius-md);
        padding: 10px 12px;
        font-size: 16px;
        letter-spacing: 1px;
        box-shadow: 0 8px 0 rgba(0, 0, 0, 0.25);

        &:active {
            box-shadow: 0 6px 0 rgba(0, 0, 0, 0.25);
        }
    }

    &--primary {
        background: linear-gradient(90deg, var(--color-pink-1), var(--color-purple-1));
    }

    &--secondary {
        background: rgba(0, 0, 0, 0.15);
    }

    &:active {
        transform: translateY(2px);
        box-shadow: 0 8px 0 rgba(0, 0, 0, 0.25);
    }
}
